extends base.pug

block scripts
     script(src='/static/index.js')
  
block style
     style
      include ../static/styleabout.css
      include ../static/style.css

block content
  div.cont
  h1 About 
  h2 India's best online store for Mobiles, Fashion (Clothes/Shoes), Electronics, Home Appliances, Books, Furniture, Grocery, Jewelry, Sporting goods.....<br><br>

  h2 Smartbuy an exclusive range of quality everyday products at prices you'll love<br><br>

  h2 Lowest rates and ease of doing business makes selling on vivek's store. Product recommendations and pricing suggestions means your business stays up-to-date. Payments In 7-15 Days. 1 Lakh+ Businesses. 350+ Catalog Partners. 10 Crore+ Customers<br><br>
  

   img(src="https://cdn.vox-cdn.com/thumbor/KVCvGIiBT1jawXkw8NY6NuSziMw=/0x0:3433x2289/1200x800/filters:focal(1251x227:1799x775)/cdn.vox-cdn.com/uploads/chorus_image/image/63115248/1131916023.jpg.1551066580.jpg",alt="s image",class="image")
   img(src="https://upload.wikimedia.org/wikipedia/commons/8/86/Dhanush_for_the_Best_Actor.jpg",alt="s image",class="image")
   img(src="https://media.newyorker.com/photos/5e1331bf8ff5c200086a0e40/master/pass/Schulman-GoldenGlobesWilliams.jpg",alt="s image",class="image")
   img(src="https://m.economictimes.com/thumb/msid-73731518,width-1200,height-900,resizemode-4,imgsize-158097/indian-it-industrialist-and-co-founder-of-infosys-n-r-narayan-murthy-l-confers-the-tie-con-mumbai-2020-lifetime-achievement-award-to-indian-industrialist-ratan-tata-in-mumbai-.jpg",alt="s image",class="image")
   img(src="https://www.outlookindia.com/public/uploads/gallery/20160213/infosys_awards20160213.jpg",alt="s image",class="image")