@import url('http://fonts.googleapis.com/css?family=Lacquer&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
  
}
h1{
    text-align: center; 
    background-color: yellow;
    color: black;
    font-size: 44px;
    
}
.image{
    height: 200px;
    margin: 25px ;
    width: 200px;
  align-items: center;
    padding: 10px 10px;
    justify-content: center;
    background-color:rgb(12, 90, 179);
}
h2{
    font-size: 30px;
    background-color: rgb(26, 230, 118);
    
}



